@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
   --main-color: #4C84FF;
   --color-primary: #686868;
   --color-secondary: #eee;
   --color-terciary: #fff;
   --bg-gradiente: linear-gradient(to top, rgba(175, 175, 175, 0.8), rgb(167, 167, 167)), url(../img/bg-claro.png);
   --contact-bg: url(../img/contact_bg-claro.png);
   --bg-op: rgba(76, 132, 255, 0.3);
}

body.dark-theme {
   --main-color: #EF0C0C;
   --color-primary: #fff;
   --color-secondary: #242424;
   --color-terciary: #212121;
   --bg-gradiente: linear-gradient(to top, rgba(11, 11, 11, .8), rgba(21, 21, 21, 1)), url(../img/bg.jpg);
   --contact-bg: url(../img/contact_bg.png);
   --bg-op: rgba(239, 12, 12, 0.3);
}

textarea {
   resize: none;
}

.white-text {
   color: #ffffff;
}


* {
   box-sizing: border-box;
   font-family: 'Work Sans';
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
   border-radius: 6px;
   color: #FFFFFF;
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--main-color);
   color: #FFFFFF;
}


/* MENU */
.container-header {
   background: var(--color-secondary);
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 99;
}

.container-header header {
   max-width: 1100px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
}

.container-header header .logo a {
   font-family: 'Righteous';
   font-size: 36px;
   color: var(--main-color);
   text-decoration: none;
}

.container-header header ul {
   display: flex;
   list-style: none;
}

.container-header header nav ul li a {
   text-align: none;
   color: var(--color-primary);
   margin: 0 15px;
   padding: 3px;
   transition: .5s;
   text-decoration: none;
}

.container-header header nav ul li a:hover {
   color: var(--main-color);
}

#theme-toggler {
   transition: .5s;
   color: var(--color-primary);
   cursor: pointer;
}

#theme-toggler:hover {
   color: var(--main-color);
}

.nav-responsive {
   background-color: var(--main-color);
   color: var(--color-primary);
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   display: none;
}

.home {
   background: var(--bg-gradiente);
   background-size: contain;
   /* TODO AJUSTAR A IMG */
   height: 100vh;
   color: var(--color-primary);
   display: flex;
   align-items: center;
}

.home .container-banner {
   padding: 20px;
   background-color: var(--color-secondary);
   max-width: 350px;
   margin: auto;
   text-align: center;
   border-radius: 40px;
}

.home .container-banner img {
   margin-top: 40px;
   border: 10px solid var(--main-color);
   display: block;
   width: 80%;
   margin: auto;
   border-radius: 100%;
}

.home .container-banner h1 {
   margin-top: 40px;
   font-size: 42px;
   font-family: 'Righteous';
}

.home .container-banner h2 {
   font-size: 15px;
   font-weight: normal;
}

.home .container-banner .networks a {
   color: var(--color-primary);
   display: inline-block;
   text-decoration: none;
   border: 1px solid var(--color-primary);
   border-radius: 100%;
   width: 42px;
   height: 42px;
   line-height: 42px;
   margin: 40px 5px;
   font-size: 20px;
   transition: .3s;
}

.home .container-banner .networks a:hover {
   background-color: var(--main-color);
   color: #FFFFFF;
}

.about {
   background-color: var(--color-secondary);
   color: var(--color-primary);
   padding: 50px 20px;
}

.about .container-section {
   max-width: 1100px;
   margin: auto;
}

.about h2 {
   font-size: 48px;
   text-align: center;
   padding: 20px 0;

}

.about .container-section p {
   font: 18px;
   line-height: 22px;
   margin-bottom: 20px;
}

.about .container-section p span {
   color: var(--main-color);
   font-weight: bold;
}

.about .row {
   display: flex;
}

.about .row .column {
   width: 50%;
}

.about .row .column h3 {
   font-size: 28px;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 25px;
}

.about .row .column ul {
   list-style: none;
}

.about .row .column ul li {
   margin: 12px 0;
}

.about .row .column ul li strong {
   display: inline-block;
   color: var(--main-color);
   width: 130px;
}

.about .row .column ul li span {
   background-color: var(--main-color);
   padding: 3px;
   font-weight: bold;
   border-radius: 5px;
}

.about .row .column .container-interests {
   display: flex;
   flex-wrap: wrap;
}

.about .row .column .container-interests .interests {
   width: 100px;
   height: 100px;
   background-color: var(--color-terciary);
   border-radius: 10px;
   margin: 0 15px 15px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: .3s;
}

.about .row .column .container-interests .interests:hover {
   background-color: var(--main-color);
   color: #FFFFFF;
}

.about .row .column .container-interests .interests i {
   font-size: 30px;
   margin-bottom: 10px;
}

a.top {
   color: #FFF !important;
   text-decoration: none;
}

.about button {
   cursor: pointer;
   background-color: transparent;
   border: 2px solid var(--color-primary);
   width: -moz-fit-content;
   width: fit-content;
   display: block;
   margin: 20px auto;
   padding: 10px 22px;
   font-size: 16px;
   color: var(--color-primary);
   position: relative;
   z-index: 10;
   border-radius: 5px;
}

.about button .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: var(--main-color);
   z-index: -1;
   transition: 1s;
}

.about button:hover {
   transition: 1s;
   color: #FFFFFF;
}

.about button:hover .overlay {
   width: 100%;

}

.skills {
   background-color: var(--color-terciary);
   color: var(--color-primary);
   padding: 50px 20px;
}

.skills .container-section {
   max-width: 1100px;
   margin: auto;
}

.skills h2 {
   font-size: 48px;
   text-align: center;
   padding: 20px 0;
}

.skills .row {
   display: flex;
}

.skills .row .column {
   width: 50%;
   padding: 0 20px;
}

.skills .row .column h3 {
   font-size: 28px;
   margin-bottom: 25px;
}

.skills .skill>span {
   font-weight: bold;
   display: block;
   margin-bottom: 10px;
}

.skills .skill .bar-skill {
   height: 8px;
   width: 80%;
   background-color: var(--color-secondary);
   position: relative;
   margin-bottom: 30px;
}

.skills .skill .progress {
   background-color: var(--main-color);
   position: absolute;
   top: 0;
   left: 0;
   height: 8px;
}

.skills .skill .bar-skill span {
   position: absolute;
   height: 40px;
   width: 40px;
   background-color: var(--main-color);
   color: #FFFFFF;
   border-radius: 50px;
   line-height: 40px;
   text-align: center;
   top: -17px;
   right: -15px;
   font-size: 14px;
}

.curriculum {
   background-color: var(--color-secondary);
   color: var(--color-primary);
   padding: 50px 20px;
}

.curriculum .container-section {
   max-width: 1100px;
   margin: auto;
}

.curriculum h2 {
   font-size: 48px;
   text-align: center;
   padding: 20px 0;

}

.curriculum .row {
   display: flex;
   justify-content: space-between;
}

.curriculum .row .column {
   width: 49%;
   padding: 0 20px;
}

.curriculum .row .column h3 {
   font-size: 28px;
   margin-bottom: 25px;
}

.curriculum .row .left {
   border-right: 2px solid var(--color-terciary);
}

.curriculum .row .right {
   border-right: 2px solid var(--color-terciary);
}

.curriculum .row .item {
   padding: 25px;
   margin-bottom: 30px;
   background-color: var(--color-terciary);
   position: relative;
}

.curriculum .row .item h4 {
   font-size: 20px;
   margin-bottom: 10px;
}

.curriculum .row .item .case {
   color: var(--main-color);
   font-size: 22px;
   font-weight: bold;
   display: block;
}

.curriculum .row .item .close {
   display: block;
   color: var(--main-color);
   margin-bottom: 10px;
}

.curriculum .row .item .close a {
   display: block;
   color: var(--main-color);
   margin-bottom: 10px;
   text-decoration: none;
}

.curriculum .row .item p {
   line-height: 24px;
}

.curriculum .row .item-left {
   border-right: 2px solid var(--main-color);
   margin-right: 20px;
}

.curriculum .row .item-right {
   border-left: 2px solid var(--main-color);
   margin-left: 20px;
}

.curriculum .row .item .conector {
   height: 2px;
   background-color: var(--main-color);
   width: 47px;
   position: absolute;
   top: 50%;
   right: -47px;
   z-index: 5;
}

.curriculum .row .item .conector .circle {
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: var(--main-color);
   float: right;
   position: relative;
   bottom: 4px;
}

.curriculum .row .item .conectord {
   height: 2px;
   background-color: var(--main-color);
   width: 47px;
   position: absolute;
   top: 50%;
   left: -47px;
   z-index: 5;
}

.curriculum .row .item .conectord .circulod {
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: var(--main-color);
   float: left;
   position: relative;
   bottom: 4px;
}

/* section PORTFOLIO */
.portfolio {
   background-color: var(--color-terciary);
   color: var(--color-primary);
   padding: 50px 20px;
}

.portfolio .container-section {
   max-width: 1100px;
   margin: auto;
}

.portfolio h2 {
   font-size: 48px;
   text-align: center;
   padding: 20px 0;
}

.portfolio .galery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.portfolio .galery .project {
   position: relative;
   max-width: 340px;
   width: 100%;
   height: 200px;
   margin: 10px;
   cursor: pointer;
}

.portfolio .galery .project img {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.portfolio .galery .project .overlay {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   background: linear-gradient(var(--bg-op), var(--bg-op));
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 1s;
   font-size: 18px;
   letter-spacing: 3px;
   opacity: 0;
}

.portfolio .galery .project .overlay h3 {
   margin-bottom: 20px;
   transition: 1s;
}

.portfolio .galery .project .overlay:hover {
   opacity: 1;
   color: #FFFFFF;

}

.portfolio .galery .project .overlay:hover h3 {
   margin-bottom: 0px;
   color: #FFFFFF;
}

.contact {
   background-image: var(--contact-bg);
   background-color: var(--color-secondary);
   color: var(--color-primary);
   padding: 50px 0;
}

.contact .container-section {
   max-width: 1100px;
   margin: auto;
}

.contact h2 {
   font-size: 48px;
   text-align: center;
   padding: 20px 0;
}

.contact .row {
   display: flex;
}

.contact .column {
   width: 50%;
   padding: 10px;
   position: relative;
}

.contact .column input,
.contact .column textarea {
   display: block;
   width: 100%;
   padding: 18px;
   border: none;
   margin-bottom: 20px;
   background-color: var(--color-terciary);
   color: var(--color-primary);
   font-size: 18px;
}

.contact button {
   cursor: pointer;
   background-color: transparent;
   border: 2px solid var(--color-primary);
   width: -moz-fit-content;
   width: fit-content;
   display: block;
   margin: 20px auto;
   padding: 10px 22px;
   font-size: 16px;
   color: var(--color-primary);
   position: relative;
   z-index: 10;
   border-radius: 5px;
}

.contact button .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: var(--main-color);
   z-index: -1;
   transition: 1s;
   color: #FFFFFF !important;
}

.contact button:hover {
   transition: 1s;
   color: #FFFFFF !important;
}

.contact button:hover .overlay {
   width: 100%;
   color: #FFFFFF !important;
}

/* .btn-hover {
   clear: both;
   display: block;
   position: relative;
   z-index: 1;
   border-radius: 5px;
   overflow: hidden;

} */

.btn-hover:hover {
   color: #fff;

}

.contact .column img {
   width: 100%;
}

.contact .column .info {
   position: absolute;
   top: 40%;
   background-color: var(--color-terciary);
   padding: 20px;
   max-width: 350px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.contact .column .info ul {
   list-style: none;
}

.contact .column .info ul li {
   margin-bottom: 20px;
}

.contact .column .info ul li i {
   color: var(--main-color);
   display: inline-block;
   margin-right: 20px;
}

footer {
   background-color: var(--color-terciary);
   color: var(--color-primary);
   padding: 50px 0 30px 0;
   text-align: center;
   position: relative;
   width: 100%;
}

footer .networks {
   margin-bottom: 20px;
}

footer .networks a {
   color: var(--color-primary);
   display: inline-block;
   text-decoration: none;
   border: 1px solid var(--color-primary);
   border-radius: 100%;
   width: 42px;
   height: 42px;
   line-height: 42px;
   margin: 40px 5px;
   font-size: 20px;
   transition: .3s;
}

footer .top {
   display: block;
   width: 50px;
   height: 50px;
   background-color: var(--main-color);
   color: var(--color-primary);
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: -25px;
   border-radius: 50%;
   line-height: 50px;
   font-size: 18px;
}

/* section RESPONSIVE */
@media screen and (max-width:980px) {
   nav {
      display: none;
   }

   .nav-responsive {
      display: block;
   }

   nav.responsive {
      display: block;
      position: absolute;
      right: 0;
      top: 75px;
      background-color: var(--color-terciary);
      width: 180px;
   }

   nav.responsive ul {
      display: block !important;
   }

   nav.responsive ul li {
      border-bottom: 1px solid var(--color-primary);
      padding: 10px 0;
   }


}

@media screen and (max-width:700px) {
   .about .row {
      display: block;
   }

   .about .row .column {
      width: -moz-fit-content;
      width: fit-content;
   }

   .skills .row {
      display: block;
   }

   .skills .row .column {
      width: 100%;
   }

   .skills .row .column .bar-skill {
      width: 100%;
   }

   .curriculum .row {
      display: block;
   }

   .curriculum .row .column {
      width: 90%;
   }

   .curriculum .row .right {
      margin-left: 20px;
   }

   .portfolio .galery {
      display: block;
      width: 100%;
   }

   .portfolio .galery .project {
      max-width: 100%;
   }

   .portfolio .galery .project img {
      width: 100%;
   }

   .contact .row {
      display: block;
   }

   .contact .row .column {
      width: 100%;
   }
}


/* MODAL */
.modal {
   display: none;
   position: fixed !important;
   z-index: 10;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
}

/* .fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
} */

.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}

.close-modal {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
   color: var(--main-color);
   text-decoration: none;
   cursor: pointer;
}